<h1>Your recent activity</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= render event.class.to_s.underscore, event: event %> <%= time_ago_in_words(event.occurred_at) %> ago</li>
  <% end %>
</ul>
